:root {
    --bg-color: #fffdf0;        /* Кремово-желтый */
    --text-color: #086344;      /* Темно-серый */
    --primary: #efefef;         /* Ярко-желтый */
    --secondary: #cdf0fe;       /* Оранжевый */
    --accent: #d2f2d6;          /* Терракотовый */
    --surface: #fff9c4;         /* Светло-желтый */
}

/* Темная тема для систем с темным режимом */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1a1a1a;    /* Темный фон */
        --text-color: #fffbdb;  /* Кремовый текст */
        --primary: #1b2122;     /* Темное золото */
        --secondary: #3b4c3a;   /* Темно-оранжевый */
        --accent: #29627f;      /* Темный терракотовый */
        --surface: #332900;     /* Темно-желтая поверхность */
    }
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    transition: all 0.3s ease;
    text-align: center;
    font-family: "Noto Sans", serif;
}

.header h1 {
    font-size: 2.5rem; /* Увеличь заголовок шапки */
}

.info h2 {
    font-size: 2rem;
    margin-top: 1rem;
}

.coords h1, .logs h1, .input h1 {
    font-size: 2rem; /* Увеличь заголовки блоков */
}


html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Убирает прокрутку */
    height: 100%;
}


.wrapper {
    display: flex;
    height: calc(100vh - 20px - 20px);
    justify-content: space-between;
    border-radius: 2em;
    background: var(--bg-color);
    margin: 20px;
    gap: 20px;
}

.left, .right {
    border-radius: 2em;
    padding: 15px;
}

.right {
    flex: 3;
    background: var(--secondary);
}

.left {
    flex: 2;
    background: var(--accent);
}

.canvas-container {
    width: 100%; /* Занимает всю ширину родителя */
    height: 400px; /* Или любая нужная высота */
    max-width: 600px; /* Ограничение максимальной ширины */
    margin: 20px auto; /* Центрирование */
}

#background {
    width: 100%;
    height: 100%;
    display: block;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center; /* Центрирование по горизонтали */
    justify-content: center;
    gap: 30px; /* Расстояние между h2 */
}