
@media (prefers-color-scheme: light) {
    :root {
        --md-sys-color-surface: rgb(255 249 238);
        --bg-color: var(--md-sys-color-surface);

        --md-sys-color-on-surface: rgb(30 27 19);
        --text-color: var(--md-sys-color-on-surface);

        --md-sys-color-surface-container: rgb(244 237 223);
        --primary: var(--md-sys-color-surface-container);

        --secondary: var(--md-sys-color-surface-container);

        --md-sys-color-on-secondary-container: rgb(78 71 42);

        --md-sys-color-primary: rgb(109 94 15);
        --accent: var(--md-sys-color-primary);

        --md-sys-color-on-tertiary: rgb(255 255 255);

        --md-sys-color-on-tertiary-container: rgb(44 78 56);

        --md-sys-color-surface-container-highest: rgb(232 226 212);
        --surface: var(--md-sys-color-surface-container-highest);

        --figure: #28baa0;
        --figure-stroke: #1e8875;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --md-sys-color-surface: rgb(21 19 11);
        --bg-color: var(--md-sys-color-surface);

        --md-sys-color-on-surface: rgb(232 226 212);
        --text-color: var(--md-sys-color-on-surface);

        --md-sys-color-surface-container: rgb(34 32 23);
        --primary: var(--md-sys-color-surface-container);

        --secondary: var(--md-sys-color-surface-container);

        --md-sys-color-on-secondary-container: rgb(238 226 188);

        --md-sys-color-primary: rgb(219 198 110);
        --accent: var(--md-sys-color-primary);

        --md-sys-color-on-tertiary: rgb(20 55 35);

        --md-sys-color-on-tertiary-container: rgb(197 236 206);

        --md-sys-color-surface-container-highest: rgb(56 53 43);
        --surface: var(--md-sys-color-surface-container-highest);

        --figure: #28baa0;
        --figure-stroke: #1e8875;
    }
}


* {
    transition-duration: 0.2s;
    transition-property: background, color, border-color;
    transition-timing-function: ease-in-out;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    font-family: "Noto Sans", serif;
}

.header h1 {
    /*font-family: "Fantasy", cursive;*/
    font-family: "Noto Sans", serif; /*задали явным образом*/
    font-size: 2.5rem;
    margin-top: 0;
    color: var(--md-sys-color-primary);
}

.info h2 {
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--md-sys-color-primary);
}

.coords h1, .logs h1, .input h1 {
    font-size: 2rem;
    color: var(--md-sys-color-primary);
}


html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /*убирает прокрутку*/
    height: 100%;
}


.wrapper {
    display: flex;
    height: calc(100vh - 20px - 20px);
    justify-content: space-between;
    border-radius: 2em;
    background: var(--bg-color);
    margin: 20px;
    gap: 20px;
}

.left, .right {
    border-radius: 2em;
    padding: 15px;
    overflow-y: auto;
}

.right {
    flex: 3;
    background: var(--secondary);
    color: var(--text-color);
}

.left {
    flex: 2;
    background: var(--primary);
}

.canvas-container {
    position: relative;
    width: 100%;
    height: 600px;
    max-width: 600px;
    margin: 20px auto;
}

#background {
    width: 100%;
    height: 100%;
    display: block;
}

#foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.logs-container {
    display: flex;
    flex-direction: column;
}


.input {
    font-size: 1.2rem;
}


/* форма */
.form-container {
    background: var(--surface);
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1.5em;
    color: var(--md-sys-color-on-tertiary-container);
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: 600;
    color: var(--text-color);
    font-size: 1.1em;
}

/* select */
.form-select {
    width: 100%;
    padding: 0.8em;
    border: 2px solid var(--accent);
    border-radius: 0.5em;
    background: var(--primary);
    color: var(--text-color);
    font-size: 1em;
}

.form-select:focus {
    outline: none;
    border-color: var(--secondary);
    box-shadow: 0 0 0 3px rgba(205, 240, 254, 0.3);
}


.form-input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.8em;
    border: 2px solid var(--accent);
    border-radius: 0.5em;
    background: var(--primary);
    color: var(--text-color);
    font-size: 1em;
}

.form-input:focus {
    outline: none;
    border-color: var(--secondary);
    box-shadow: 0 0 0 3px rgba(210, 242, 214, 0.3);
}

/* checkbox */
.checkbox-group {
    display: flex;
    gap: 1.5em;
    background: var(--primary);
    border-radius: 0.5em;
    border: 2px solid var(--accent);
    padding-left: 1.6rem;
}

.checkbox-group legend {
    font-weight: 600;
    color: var(--text-color);
    padding: 0 0.5em;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin: 0.2em 0;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 0.5em;
    transform: scale(1.2);
    accent-color: var(--secondary);
}

.checkbox-item label {
    color: var(--text-color);
    cursor: pointer;
    margin: 0;
}

/* button */
.submit-btn {
    /*background: linear-gradient(135deg, var(--secondary), var(--accent));*/
    background: var(--primary);
    color: var(--accent);
    padding: 1em 2em;
    border: 2px solid var(--accent);;
    border-radius: 0.5em;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    margin-top: 1em;
}

.show-btn {
    background: var(--accent);
    color: var(--primary);
    border: none;
    border-radius: 0.3em;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

.submit-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.submit-btn:active {
    transform: translateY(0);
}